{% extends "base.html" %}

{% block page_title %} Sign in {% endblock %}

{% block h1_title %} Sign in {% endblock %}

{% block content %}
<form action="#" method="post">
    <label for="nickname">Nickname: </label>
    <br>
    <input type="text" name="nickname" id="input_nickname_id">
    <br>
    <label for="email">Email: </label>
    <br>
    <input type="email" name="email" id="input_email_id">
    <br>
    <label for="password">Password: </label>
    <br>
    <input type="password" name="password" id="input_password_id">
    <br>
    <label for="repeat_password">Repeat password: </label>
    <br>
    <input type="password" name="repeat_password" id="input_repeat_password_id">
    <br>
    <input type="submit" value="Sign in">
</form>
{% endblock %}