{% extends "base.html" %}

{% block page_title %} Sign in {% endblock %}

{% block h1_title %} Sign in {% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}

<form action="#" method="post">
    {{ form.csrf_token }}
    {{ form.email.label }}
    <br>
    {{ form.email(size=50) }}
    <br>
    {{ form.password.label }}
    <br>
    {{ form.password(size=50) }}
    <br>
    {{ form.password_repeat.label }}
    <br>
    {{ form.password_repeat(size=50) }}
    <br>
    
    <input type="submit" value="Sign in">
</form>
{% endblock %}